{% extends 'archive/base.html' %}

{% block title %}{{channel.name}}{% endblock %}

{% block content %}
<div class="channel_title">
    <div id="channel_name_container" class="channel_name_continer">
        <span id="channel_name" class="channel_name">#{{ channel.name }}</span>
    </div>
</div>
<div class="messages_container dense_theme">
    {% for m in messages %}
    <ts-message class="message {% if m.user != m.prev %}first{% endif %}">
        <div class="message_gutter">
            <a href="" class="timestamp">{{ m.timestamp | date:"g:i A" }}</a>
        </div>
        <div class="message_content">
            <div class="message_content_header">
                <div class="message_content_header_left">
                    <a href="#"
                       class="message_sender member"
                       style="color:#{{m.user.color}}">{{ m.user.name }}</a>
                 </div>
            </div>
            <span class="message_body">
                {{ m.text }}
            </span>
        </div>
    </ts-message>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if messages.has_previous %}
            <a href="?page={{ messages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
        </span>

        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
